[bumpversion]
current_version = 0.2.5
commit = True
tag = True
message = 🔖 Bump version: {current_version} → {new_version}

[bumpversion:file:VERSION]

[bumpversion:file:runpandarun/__init__.py]

[bumpversion:file:pyproject.toml]
