[tool.poetry]
name = "runpandarun"
version = "0.4.0"
description = "Tell pandas what to do – easy tabular data I/O playbooks"
authors = ["Simon Wörpel <simon@investigativedata.org>"]
license = "MIT"
readme = "README.md"
homepage = "https://investigraph.dev"
repository = "https://github.com/investigativedata/investigraph-etl"
documentation = "https://docs.investigraph.dev/runpandarun"
classifiers = [
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]
packages = [{include = "runpandarun"}]

[tool.poetry.scripts]
runpandarun = "runpandarun.cli:cli"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/investigativedata/runpandarun/issues"

[tool.poetry.dependencies]
python = ">=3.10,<3.13"
pandas = "^2.1.3"
requests = "^2.31.0"
typer = "0.9.0"
banal = "^1.0.6"
normality = "^2.5.0"
fsspec = "^2023.10.0"
s3fs = "^2023.10.0"
orjson = "^3.9.10"
pantomime = "^0.6.1"
openpyxl = "^3.1.2"
sqlalchemy = "^2.0.23"
aiohttp = ">=3.8.6"
datapatch = "^1.1.1"
cryptography = "^41.0.5"
numpy = "^1.26.1"
pydantic = "^2.4.2"
fingerprints = "^1.2.3"
pyicu = "^2.12"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.3"
pytest-cov = "^4.1.0"
black = ">=23.11,<25.0"
isort = "^5.12.0"
mypy = "^1.7.0"
pre-commit = "^3.5.0"
flake8 = "^6.1.0"
ipdb = "^0.13.13"
pytest-xdist = "^3.4.0"
moto = "^4.2.8"
bump2version = "^1.0.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
