[tool.poetry]
name = "runpandarun"
version = "0.1.4"
description = "Tell pandas what to do – easy tabular data I/O playbooks"
authors = ["Simon Wörpel <simon@investigativedata.org>"]
license = "MIT"
readme = "README.md"
homepage = "https://investigraph.dev"
repository = "https://github.com/investigativedata/investigraph-etl"
documentation = "https://docs.investigraph.dev/runpandarun"
classifiers = [
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]
packages = [{include = "runpandarun"}]

[tool.poetry.scripts]
runpandarun = "runpandarun.cli:cli"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/investigativedata/runpandarun/issues"

[tool.poetry.dependencies]
python = "^3.10"
pandas = "2.0.3"
requests = "2.31.0"
smart-open = {extras = ["all"], version = "^6.3.0"}
typer = "0.9.0"
pydantic = "^2.0.3"
banal = "^1.0.6"
normality = "^2.4.0"
fingerprints = "^1.1.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.3.2"
pytest-cov = "^4.1.0"
black = "^23.3.0"
isort = "^5.12.0"
mypy = "^1.3.0"
pre-commit = "^3.3.3"
flake8 = "^6.0.0"
ipdb = "^0.13.13"
pytest-xdist = "^3.3.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
